---
const {
    desktopTemplate = "1fr 1fr",
    mobileTemplate = "1fr",
    gap = "gap-6",
} = Astro.props;
---

<div
    class={`columns ${gap}`}
    style={`--desktop-template:${desktopTemplate}; --mobile-template:${mobileTemplate};`}
>
    <slot />
</div>

<style>
    .columns {
        display: grid;
        grid-template-columns: var(--desktop-template);
        margin-top: 1rem;
    }

    @media (max-width: 768px) {
        .columns {
            grid-template-columns: var(--mobile-template);
        }
    }
</style>
