---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import PortfolioSection from "../components/PortfolioSection.astro";
import LinksSection from "../components/LinksSection.astro";
import FaceTracker from "../components/FaceTracker.astro";
import Spacer from "../components/Spacer.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
	<Spacer className="h-6 md:h-24" />
	<FaceTracker />
	<Spacer className="h-4 md:h-6" />
	<Hero />
	<p id="projects"></p>
	<Spacer className="h-6 md:h-40" />
	<PortfolioSection />
	<LinksSection />
	<Footer />
</BaseLayout>
