---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/main/Hero.astro";
import ProjectSection from "../components/projects/ProjectSection.astro";
import FaceTracker from "../components/main/FaceTracker.astro";
import Spacer from "../components/general/Spacer.astro";
import Footer from "../components/general/Footer.astro";
---

<MainLayout title="modderjoch • portfolio">
	<Spacer className="h-6 md:h-24" />
	<FaceTracker />
	<Spacer className="h-4 md:h-6" />
	<Hero />
	<p id="projects"></p>
	<Spacer className="h-6 md:h-40" />
</MainLayout>
<ProjectSection />
<Footer />
