---
import PillLink from "../components/PillLink.astro";
import Spacer from "../components/Spacer.astro";
---

<section class="mb-32 text-center">
    <h1 class="text-4xl font-extrabold" style="font-family: Quicksand;">
        Oebe Rademaker
    </h1>
    <p
        class="mt-2 font-semibold text-neutral-800 dark:text-neutral-300"
        style="font-family:Roboto Condensed; text-transform:uppercase;"
    >
        Developer &bull; Designer
    </p>
    <p
        class="mt-4 text-neutral-500 dark:text-neutral-400 max-w-xl mx-auto text-sm md:text-lg"
        style="font-family:Roboto Condensed;"
    >
        I create engaging games, immersive experiences, and custom applications
        with a fun-first mentality, bringing creativity and teamwork to every
        project.
    </p>

    <Spacer height="30px" />

    <div class="flex flex-wrap gap-4 justify-center">
        <PillLink
            href="#projects"
            label="View projects"
            width="170px"
            logoSrc="/images/icons/code.png"
            behavior="same"
        />
        <PillLink
            href="#contact"
            label="Get in touch"
            width="170px"
            logoSrc="/images/icons/mail.png"
            behavior="same"
        />
        <PillLink
            href="/files/cv/cv.pdf"
            label="Download CV"
            width="170px"
            logoSrc="/images/icons/cv.png"
            behavior="download"
        />
    </div>
</section>
