---
import { getCollection } from "astro:content";
import PortfolioCard from "./PortfolioCard.astro";

const projects = await getCollection("projects");
projects.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<section class="mb-32">
    <h2 class="mb-8 text-2xl font-semibold">Portfolio</h2>

    <div class="overflow-hidden relative">
        <div class="flex animate-marquee space-x-6 hover:pause">
            {projects.map((project) => <PortfolioCard project={project} />)}
            {projects.map((project) => <PortfolioCard project={project} />)}
        </div>
    </div>
</section>
